body
{
    background-color: #FFFF;
    left: 10%;
}

h1 
{
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 20px;
    top: 0px;

    color: #0065FC;
}

h2
{
    position: absolute;
    width: 575px;
    height: 26px;
    left: 40px;
    top: 100px;
}

/*nav
{
    position: absolute;
left: 83.46%;
right: 0%;
top: 0%;
bottom: 0%;


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


text-align: center;

color: #000000;

}

h2
{
    position: absolute;
width: 575px;
height: 26px;
left: 55px;
top: 126px;


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;



color: #000000;

}

p
{
    position: absolute;
width: 296px;
height: 19px;
left: 55px;
top: 160px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


color: #000000;
}

fieldset
{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;

border: 1px solid #F2F2F2;
border-radius: 15px;
}

.navbar
{

}

.searchbutton
{
   display: flex;
flex-direction: row;
align-items: center;
padding: 15px 16px;
gap: 10px;

position: absolute;
width: 132px;
height: 49px;
left: 341px;
top: 200px;

background: #0065FC;

border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px; 
} */

section
{
    position: absolute;
    left: 1.4%;
    right: 60%;
    top: 25%;
    bottom: 30%;
    background: #F2F2F2;
    border-radius: 20px;
}

h3
{
    position: absolute;
    left: 30px;
    top: 20px;
}

.navbar1
{
    position: absolute;
    left: 85%;
    right: 34.12%;
    top: 30px;
    bottom: 0%;
    text-align: center;
    color: #0065fc;
}

.navbar2
{
    position: absolute;
    left: 92%;
    right: 34.12%;
    top: 30px;
    bottom: 0%;
    text-align: center;
    color: #000;
}