@font-face 
{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

body
{
    max-width: 1400px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFF;
    font-family: 'Raleway';
}

.d-flex
{
    display: flex;
} 

header
{
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul
{
    flex-direction: row;
    gap: 50px;
    margin-top: 46px;
}

nav a
{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

ul
{
    list-style-type: none;
}

nav a:link
{
    color: black;
}

nav a:visited
{
    color: black;
}

nav a:hover
{
    border-top: solid 2px #0065fc;
    color: #0065fc;
    font-weight: 500;
    padding-top: 44px;
}

#logo
{
    width: 61.09px;
    height: 29px;
    margin-top: 46px;
}

h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    margin-bottom: 0.4px;
}

p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.introduction
{
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 63px;
}

.search
{
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 6px;
}

.location_button
{
    width: 14px;
    height: 18px;
    color: black;
}

.backgroundbutton
{
    width: 50px;
    height: 47px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    align-items: center;
}

.search_bar
{
    width: 282px;
    height: 49px;
    border: 1px solid #F2F2F2;   
}

.search_bar::placeholder
{
    font-family: 'Raleway';
    padding-left: 15px;
    font-weight: 700; 
    font-size: 18px; 
    line-height: 21px;
}

.Rechercher
{
    width: auto;
    height: auto;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-weight: normal;
    font-weight: 700;
    font-size: 18px;
    padding-right: 10px;
    line-height: 21px;
    color: #FFFF;
}

.RechercherMobile
{
    display: none;
    width: 49px;
    height: 49px;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
}

#loupe
{
    display: none;
    width: 17px;
    height: 17px;
    color: #FFFF;
}

input
{
    font-size: 18px;
    padding-left: 15px;
    font-family: 'Raleway';
    font-weight: bold;
}

h4
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
}

.filters_block
{
    margin-top: auto ;
    flex-wrap: wrap;
}

.filters ul
{
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.filters li
{
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    justify-content: space-between;
}

.filters li:hover
{
    background-color: #deebff;
}

.filters a
{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    padding: 10px;
}

.filters a:link
{
    color: black;
}

.filters a:visited
{
    color: black;
}

#money
{
   width: 22px;
   height: 16.26px;
   color: #0065fc; 
}

#body
{
    width: 22px;
    height: 13.44px;
    color: #0065fc;
}

#heart
{
    width: 22px;
    height: 18.33px;
    color: #0065fc;
}

#pet
{
    width: 22px;
    height: 22px;
    color: #0065fc;
    text-align: center;
}

.info
{
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

#i
{
    color: #0065fc;
    width: 4px;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 53%;
    padding-left: 12px;
    padding-right: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
}


.cards_model1
{
    justify-content: flex-start;
    flex-direction: column;
    width: 246px;
    height: 199px;
    border-radius: 20px;
    background-color: #FFFF;
    column-gap: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cards_model2
{
    justify-content: flex-start;
    flex-direction: row;
    width: 343px;
    height: 144px;
    border-radius: 20px;
    background-color: #FFFF;
    margin-left: 37px ;
    row-gap: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cards_pictures
{
    width: 246px;
    height: 124px;
    padding: 0px;
    margin: 0px;
    flex-direction: column; 
    justify-content: flex-start;
}

.cards_pictures2
{
    width: 137px;
    height: 144px;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    justify-content: flex-start;

}

h5
{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 15px;
    padding-top: 4px;
}

.description
{
    flex-direction: column;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 3px;
}

.description2
{
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3px ;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 75px;
}

.description3
{
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3px ;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 55px;
}

.container1
{
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 40px;
    gap: 40px;

}

.div1
{
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-left: 15px;
    gap: 31px;
}

h2
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 25px;
    padding-top: 25px;
}

.hébergements
{
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: #F2F2F2;
    flex-direction: column;
}

#more
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding-left: 44px;
}

.stars
{
    color: #0065fc;
}

.populaires
{
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: #F2F2F2;
    flex-direction: column;
}

.title_popular_rubric
{
    justify-content: space-between;
    align-items: center;
    margin-right: 42px;
}

#chart-line
{
   color: #0065fc;
   width: 18px;
   height: 16px;
   padding-top: 28px; 
}

.div2
{
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    margin-right: 30px;
    margin-bottom: 40px;
}

h3
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 18px;
}

.container2
{
    margin-top: 60px;
    width: auto;
    height: auto;
    justify-content: space-between;
}

.activities
{
    width: auto;
    height: auto;
}

.cards_model3
{
    width: 302px;
    height: 445px;
    flex-direction: column;
    background-image: url(assets/images/Rectangle31.png);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cards_pictures3
{

    object-fit: scale-down;
    width: auto;
    height: auto;
    z-index: 1;
    background-image: url(assets/images/Rectangle31.png);
    border-radius: 20px 20px 0px 0px;
}

.title_white_back
{
    z-index: 2;
    width: auto;
    height: 56px;
    background-color: #FFFF;
    justify-content: flex-start;
    border-radius: 0px 0px 20px 20px;
}

.div3 
{
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
}


.cardslink
{
    text-decoration: none;
    color: black;
}

.cardslink:hover
{
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
}

footer
{
    height: auto;
    width: auto;
    margin-top: 60px;
    background-color: #F2F2F2;
    justify-content: space-between;
    gap: 30px;
    padding-top: 45px;
    padding-left: 70px;
    padding-right: 348px;
    flex-direction: row;
    flex-wrap: wrap;
}

.rubrics
{
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F2F2F2;
}

.rubrics a
{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.Apropos ul
{
    flex-direction: column;
    row-gap: 12px;
}

.Hébergements ul
{
    flex-direction: column;
    row-gap: 12px;
}

.Assistance ul
{
    flex-direction: column;
    row-gap: 12px;
}

.rubricsTitles
{
    padding-left: 43px;
}








@media (max-width: 768px) {
    header 
    {
        flex-direction: column;
    }

    #logo
    {
        justify-content: center;
    }
    
    nav a:hover
    {
        border-top: none;
        border-bottom: solid 2px #0065fc;
        padding-bottom: 23px;
    }

    nav ul
    {
        gap: 130px;
    }

    .filters_block
    {
        margin-top: auto ;
        flex-wrap: wrap;
    }

    .filters ul
    {
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .Rechercher
    {
        display: none;
    }

    .RechercherMobile
    {
        display:block;
    }

    #loupe
    {
        display: contents;
    }
   
    #logo
    {
        justify-content: center;
    }

    nav a 
    {
        border-bottom: solid 2px #F2F2F2;
        padding-bottom: 23px;
    }
}


@media (max-width: 992px){
    
    .container1
    {
        justify-content: space-between;
        width: auto;
        height: auto;
        padding-top: 34px;
        flex-flow: row wrap;
    }


    .populaires
    {
        margin-top: 53px;
    }
    .div2
    {
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        margin-right: 30px;
    }
    .cards_model2
    {
        width: 252px;
        height: 144px;
        border-radius: 20px;
        background-color: #FFFF;
        margin-left: 37px ;
        row-gap: 15px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    h5 
    {

        font-size: 14px;
        line-height: 16px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 3px;
        padding-top: 6px;
    }

    .description2
    {
        padding-top: 0px ;
        padding-left: 3px;
        margin-bottom: 0px;
        gap: 43px;
    }

    .description3
    {
        
        padding-top: 0px ;
        padding-bottom: 0px;
        padding-left: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
        gap: 28px;
    }

    footer 
    {
        gap: 10px;
    }
}
