@font-face 
{
    font-family: 'Raleway';
    src: url('/css/Raleway-VariableFont_wght.ttf') format('truetype');
}

body
{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FFFF;
    font-family: 'Raleway';
}

.d-flex
{
    display: flex;
} 

header
{
    justify-content: space-between ;
}

nav ul
{
    flex-direction: row;
    gap: 67px;
    margin-top: 46px;
}

ul a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
}

nav a:link
{
    color: black;
}

nav a:visited
{
    color: black;
}

nav a:hover
{
    border-top: solid 2px #0065fc;
    color: #0065fc;
    font-weight: 500;
    padding-top: 46px;
}

#logo
{
    width: 61.09px;
    height: 29px;
    margin-top: 44px;
}

h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
}

p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0.4px;
}

.introduction
{
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 63px;
}

.search
{
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 6px;
}

.location_button
{
    width: 14px;
    height: 18px;
    color: black;
}

.backgroundbutton
{
    width: 50px;
    height: 47px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    align-items: center;
}

.search_bar
{
    width: 282px;
    height: 49px;
    border: 1px solid #F2F2F2;   
}

.search_bar::placeholder
{
    font-family: 'Raleway';
    padding-left: 15px;
    font-weight: 700; 
    font-size: 18px; 
    line-height: 21px;
}

.Rechercher
{
    width: 132px;
    height: 49px;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFF;
    padding-left: 15px;
}












/*#conteneur
{
    justify-content: space-between;
    flex-direction: row;
    margin-top: 426px;
}

.hébergement
{
    align-content: flex-start;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#test
{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;


    margin-top: 440px;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.cards_carrés
{
    width: 246px;
    height: 199px;
    border-radius: 20px;
    background-color: #FFFF;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}


.populaire
{
    width: 420px;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1666px;
    background-color: #F2F2F2;
    width: 1440px;
    height: 225px;
}

/*h2
{
    position: absolute;
    font-weight: 700;
    size: 18px;
    width: 575px;
}

img
{
    position: absolute;
    justify-content: flex-start;
    width: 61px;
    height: 29px;
    left: 55px;
    top: 44px;
}

nav
{
    position: absolute;
left: 83.46%;
right: 0%;
top: 0%;
bottom: 0%;


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


text-align: center;

color: #000000;

}

h2
{
    position: absolute;
width: 575px;
height: 26px;
left: 55px;
top: 126px;


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;



color: #000000;

}

p
{
    position: absolute;
width: 296px;
height: 19px;
left: 55px;
top: 160px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


color: #000000;
}

fieldset
{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;

border: 1px solid #F2F2F2;
border-radius: 15px;
}

.searchbutton
{
   display: flex;
flex-direction: row;
align-items: center;
padding: 15px 16px;
gap: 10px;

position: absolute;
width: 132px;
height: 49px;
left: 341px;
top: 200px;

background: #0065FC;

border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px; 
} */

/*.bloc_gris
{
    display: flex;
    justify-content:flex-end;
}

.pied_de_page
{
    display: flex;
}

.hébergement
{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 880px;
    height: 626px;
    left: 1.4%;
    right: 60%;
    top: 25%;
    bottom: 30%;
    background: #F2F2F2;
    border-radius: 20px;
}

.populaire
{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 420px;
    height: 625px;
    right: 1.4%;
    top: 25%;
    bottom: 30%;
    background: #F2F2F2;
    border-radius: 20px;
}


h3
{
    position: absolute;
    width: 205px;
    height: 26px;
    left: 1007px;
    top: 468px;
}

.navbar1
{
    position: absolute;
    left: 85%;
    right: 34.12%;
    top: 30px;
    bottom: 0%;
    text-align: center;
    color: #0065FC;
}

.navbar2
{
    position: absolute;
    left: 92%;
    right: 34.12%;
    top: 30px;
    bottom: 0%;
    text-align: center;
    color: #000;
}

.apropos1
{
  line-height: 21.13px;
  width: 77px;  
  height: 21px;
  top: 45px;
  left: 118px;
}*/
