/* corps de la page version desktop */
*
{
    box-sizing: border-box;
}
@font-face 
{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}
body
{
    max-width: 1400px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
}
.d-flex
{
    display: flex;
} 
h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    padding: 0;
    margin: 0;
}
h2
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    padding: 0;
    margin: 0;
}
h3
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    padding: 0;
    margin: 0;
}
h4
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    padding: 0;
}
h5
{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
}
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: black;
}
p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
input
{
    font-size: 18px;
    padding-left: 15px;
    font-family: 'Raleway';
    font-weight: bold;
}
section, article
{
    width: 100%;
    padding: 20px;
}

/* header : barre de navigation + logo Booki */
header
{
    justify-content: space-between;
}
nav ul
{
    margin: 0;
    margin-top: 46px;
    padding: 0;
}
nav li 
{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
nav li a
{
    padding: 20px;
}
nav li a:hover
{
    border-top: solid 2px #0065fc;
    color: #0065fc;
    font-weight: 500;
    padding-top: 44px;
}
.logo
{
    width: 60px;
    height: 30px;
    margin-top: 46px;
}

/* introduction avec en tête h1 et p (voir css corps de la page) */
.introduction
{
    flex-direction: column;
    margin-top: 60px;
}

/* barre de recherche en 3 parties */
.location-icon
{
    width: 14px;
    height: 18px;
    color: black;
}
.location-button
{
    width: 50px;
    height: auto;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    align-items: center;
}
.input-utilisateur
{
    width: 282px;
    height: 49px;
    border: 1px solid #F2F2F2;  
    outline: none; 
}
.submit-desktop-button
{
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    color: #FFFF;
}
.submit-mobile-button
{
    display: none;
    width: 49px;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
}
.fa-magnifying-glass
{
    display: none;
    color: #FFFF;
}

/* barre des filtres */
.filters-menu
{
    flex-wrap: wrap;
}
.filters-list
{
    flex-flow: row wrap;
    gap: 30px;
    padding: 0;
    padding-left: 15px;
}
.filters-list li
{
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px;
}
.filters-list li:hover
{
    background-color: #deebff;
}
.filters-list li a
{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    padding: 10px;
}
.filters-icons
{
    color: #0065fc;
}

/* paragraphe informatif */
.information
{
    gap: 15px;
}
.i
{
    height: 30px;
    width: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    color: #0065FC;
    margin-top: 10px;
}

.div-sections-block /* <div> qui regroupe mes deux sections */
{
    width: 100%; /* width totale */
    margin-top: 40px;
    gap: 40px;
}

.more /* "Afficher plus" */
{
    margin-top: 40px;
}
.rate /* évaluation des clients */
{
    color: #0065fc;
}
.rate:nth-child(5)
{
    color: #F2F2F2;
}
.card-link:hover
{
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
}

/* section "Hébergements" */
.accommodations
{
    width: 66%; /* 2/3 de la width totale */
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
    gap: 23px;
}
.accommodations h2
{
    margin: 0;
    padding: 0;
}
.div-accommodations-cards-block
{
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
}
.accommodation-cards
{
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFFF;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.accommodation-cards h5
{
    margin-left: 10px;
}
.accommodation-image-card
{
    flex-direction: column; 
    padding: 0px;
    margin: 0px;
}
.accommodation-description-card
{
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
.img_accomodation 
{
    object-fit: cover;
    width: 100%;
    height: 124px;
    bottom: 37.69%;
    border-radius: 15px 15px 0 0;
    border: 5px solid #FFFFFF;
}

/* section "Populaires" */
.populars
{
    width: 34%; /* 1/3 de la width totale */
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
    gap: 23px;
}
.populars h2
{
    margin: 0;
    padding: 0;
}
.grow
{
    float: right;
    color: #0065fc;
    padding: 0;
    margin: 0;
}
.div-popular-cards-block
{
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.popular-card
{
    border-radius: 20px;
    background-color: #FFFF;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.popular-image-card
{
    padding: 0px;
    margin: 0px;
}
.popular-image-card img
{
    width: 50%;
}
.div-popular-description
{
    margin: 0;
    margin-left: 5px;
    padding: 0;
}
.popular-description-card
{
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 75px;
}
.popular-description-card2
{
    flex-wrap: wrap;
    padding: 0px;
    margin: 0;
    gap: 55px;
}

/* section "Activités" */
.activities
{
    width: 100%;
    padding: 0;
    padding-top: 20px;
}
.div-activities-cards-block
{
    justify-content: space-between;
    align-items: center;
}
.card_title 
{
    position: relative;
    width: 100%;
    height: 56px;
    bottom: 58px;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 0px 0px 20px 20px;
}
.activities h2 
{
    padding-bottom:20px;
}
.imgactivites 
{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    object-fit: cover;
}
.activite_card 
{
    height: 445px;
    width: 21%;
    margin-right: 11px;
}

/* Footer */
footer
{
    margin-top: 60px;
    padding-top: 40px;
    background-color: #F2F2F2;
    justify-content: space-around;
}
.footer-all-rubrics
{
    flex-direction: column;
}
.footer-rubrics ul
{
    flex-direction: column;
    row-gap: 12px;
}
.footer-rubrics-titles
{
    padding-left: 40px;
}

/*RESPONSIVE TABLETTE*/
@media screen and (max-width: 992px) {
    body
    {
        max-width: 992px;
    }

    .div-sections-block
    {
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .accommodations
    {
        width: 100%;
    }
    .div-accommodations-cards-block
    {
        justify-content: center;
        flex-flow: row wrap;
        gap: 10px;
    }

    .populars
    {
        width: 100%;
    }
    .div-popular-cards-block
    {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 40px;
    }
    .popular-card
    {
        width: 100%;
        height: 144px;
    }
    .popular-image-card
    {
        width: 33%;
        height: 144px;
    }
    .div-popular-description h5
    {
        margin-top: 5px;
    }
    
    .activities
    {
        width: 100%;
    }
    .activite_card 
    {
        height: 267px;
        width: 20%;
        margin-right: 11px;
    }
    .imgactivites 
    {
        height: 267px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        object-fit: cover;
    }
}

/* RESPONSIVE SMARTPHONE */
@media screen and (max-width: 768px) {
    body
    {
        padding: 0px 0px 0px 0px;
    }

    header 
    {
        flex-direction: column;
    }
    .logo
    {
        margin: auto;
        margin-top: 46px;
    }
    nav ul 
    {
        margin-top: 40px;
    }
    nav li 
    {
        width: 50%;
    }
    nav li a 
    {
        display: block; 
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }
    nav li a:hover
    {
        border-top: 0;
        border-bottom: solid 3px #0065fc;
        margin: 0;
        padding-top: 0;
    }

    .introduction
    {
        margin-left: 25px;
    }

    .search-bar
    {
       margin-left: 25px;
    }
    .submit-desktop-button
    {
        display: none;
    }
    .submit-mobile-button
    {
        display: inline;
    }

    .filters-menu
    {
        padding-left: 25px;
    }
    .filters-list
    {
        padding-left: 0px;
    }
    .filters-list li:hover
    {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: #FFFF;
    }

    .information
    {
        padding-left: 25px;
    }

    .div-sections-block
    {
        flex-flow: column-reverse wrap;
    }

    .more
    {
        display: none;   
    }

    .accommodations
    {
        justify-content: center;
        border-radius: 0px;
        background-color: #FFFF;
    }
    .div-accommodations-cards-block
    {
        justify-content: center;
        flex-direction: column;
        gap: 31px;
    }
    .accommodation-cards
    {
        height: 199px ;
    }
    .accommodation-image-card
    {
        height: 124px;
    }
    .accommodation-image-card img
    {
        height: 124px;
    }
    .accommodation-description-card
    {
        margin-top: 5px;
        gap: 10px;
    }

    .populars
    {
        border-radius: 0px;
    }
    .div-popular-cards-block
    {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 5px ;
        margin: 0;
        padding: 0;
    }
    .div-popular-description h5
    {
        font-size: 16px;
        padding-top: 15px;
        margin: 0;
    }
    .popular-card ul
    {
        flex-direction: column;
    }
    .div-popular-description li 
    {
        font-size: 14px;
        gap: 65px;
    }
    .popular-description-card2
    {
        gap: 75px;
    }

    .activities h2
    {
        padding-left: 25px;
    }
    .div-activities-cards-block
    {
        justify-content: center;
        flex-direction: column;
        gap: 31px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .activite_card 
    {
        height: 190px;
        width: 100%;
        margin-right: 11px;
        margin-bottom: 30px;
    }
    .imgactivites 
    {
        height: 190px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        object-fit: cover;
    }

    footer
    {
        flex-flow: column wrap;
    }
}